extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "/assets/images/global/_symbols/HarpoCrates-logo.png", "HarpoCrates", [
                {
                    href: "/#pitch-deck",
                    name: "Pitch Deck"
                },
            ])

        block main


        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
