extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "/images/global/HarpoCrates-logo.png", "HarpoCrates", [
                {
                    href: "https://swagitda.com/blog/posts/harpocrates-remote-admin-as-a-service-pitchdeck/",
                    name: "Pitch Deck"
                },
            ])

        block main


        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
