section(class="canvas front" id="front")

    div(class="content")

        h2 Config. Deploy. Encrypt.

        div

            p Remote encryption services at hyperspeed and hyperscale.

            div

                p Currently in stealth mode. Interested in our seed round? Check out 
                a(href='swagitda.com/blog/posts/harpocrates-remote-admin-as-a-service-pitchdeck/')our pitch deck.

    +nav-1({ target: "section-1", direction: "next" })
