section(class="canvas section-1" id="section-1")

    h2 Product

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 The HarpoCrates Platform

                p.
                    Proprietary AI & deep learning models to maximize payment conversions and personalize exceptional encryption experiences
                    Extracts target enterprise features to optimize payment discounts & deadlines
                    NLP engine powering actionable, granular data intelligence to streamline discovery, classification, and automated encryption
                    Unprecedented sensitive data discovery: cloud or data-center, at-rest or in-motion, structured or unstructured at petabyte scale
                    Visualizes data relationships for deep visibility into encryption coverage
                    Industry-leading SLOs for Time to Payouts (TTPs)
                    Real-time chat support with dedicated channels for Premium Plan


    +nav-1({ target: "section-2", direction: "next" })
